## Sample FAISS

In [15]:
# import libraries
import faiss
from sentence_transformers import SentenceTransformer
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [2]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [3]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

### Source Embeddings for Text Columns

In [4]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vector = encoder.encode(df.text)
vector.shape

(8, 768)

In [5]:
dim = vector.shape[1]
dim

768

In [6]:
vector

array([[-0.00247395,  0.0362672 , -0.05290459, ..., -0.09152358,
        -0.0397    , -0.04330491],
       [-0.03357266,  0.00980515, -0.03250129, ..., -0.05165466,
         0.02245886, -0.03156183],
       [-0.01865324, -0.04051318, -0.01235387, ...,  0.00610584,
        -0.07179647,  0.02773853],
       ...,
       [-0.00066458,  0.0425213 , -0.05645508, ...,  0.01315471,
        -0.03183569, -0.04357664],
       [-0.03317154,  0.03252458, -0.0248484 , ...,  0.01174421,
         0.05747124,  0.00571022],
       [-0.00166394,  0.00413825, -0.04597083, ...,  0.02008527,
         0.05656242, -0.00161596]], dtype=float32)

### FAISS Index for Vectors

In [7]:
index = faiss.IndexFlatL2(dim)
index

### Normalise Source Vectors

In [8]:
index.add(vector)

### Encode Search Text

In [9]:
search = "I want to buy a polo t-shirt"
search_vec = encoder.encode(search)

search_vec.shape

(768,)

In [10]:
# Import libraries
import numpy as np

svec = np.array(search_vec).reshape(1,-1)
svec.shape

(1, 768)

### Search Similar Vector in FAISS index

In [11]:
distances , I = index.search(svec, k=2)

In [12]:
I

array([[3, 2]])

In [13]:
df.loc[I[0]]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion

In [14]:
search

'I want to buy a polo t-shirt'

Can try other examples as well!